export SHELL_CUSTOM_DIR=<shell-custom-dir>
export SHELL_CUSTOM_DIR_LOCAL=<shell-custom-dir-local>
export DOTFILES_SOURCE_DIR=<dotfiles-source-dir>
export DOTFILES_DIR=<dotfiles-dir>
export DOTFILES_PKGS_DIR=<dotfiles-pkgs-dir>
export CLOUDDISK_DIR=<clouddisk-dir>

export CLONE_LIB=<clone-lib>
export UPDATE_INTERVAL=<update-interval>
export ZPLUG_HOME=<zplug-home>

export HOMEBREW_OPT_INIT_FUNCTION=(ruby emacsplus)

export ENHANCD_DIR=~/.cache/enchancd
export ENHANCD_DISABLE_HOME=1
