export DOTFILES_SOURCE_DIR=<dotfiles-source-dir>
export CLOUDDISK_DIR=<clouddisk-dir>
export DOTFILES_DIR=~/dotfiles
export SHELL_CUSTOM_DIR=$DOTFILES_DIR/config/shell
export SHELL_CUSTOM_DIR_LOCAL=$SHELL_CUSTOM_DIR/local
export DOTFILES_PKGS_DIR=$DOTFILES_DIR/config/pkgs
export ORG_NOTE_DIR=~/orgmode

export CLONE_LIB=<clone-lib>
export UPDATE_INTERVAL=30
export ZPLUG_HOME=~/.local/src/zplug

export HOMEBREW_OPT_INIT_FUNCTION=(ruby emacsplus)

export ENHANCD_DIR=~/.cache/enchancd
export ENHANCD_FILTER=fzf
export ENHANCD_USE_FUZZY_MATCH=0
