{ config, pkgs, ... }:

{
  services.nfs.server = { 
    enable = true;
    exports = 
      ''
      / 10.0.0.0/8(rw,fsid=0,sec=krb5p,no_subtree_check,insecure)
      /home/vonfry 10.0.0.0/8(rw,sec=krb5p,no_subtree_check,insecure)
      '';
  };
}
