{ config, pkgs, ... }:

{
  services.nfs.server = {
    enable = true;
    exports =
      ''
      / <ip/host/...>(rw,fsid=0,sec=krb5p,no_subtree_check,insecure)
      /home/vonfry <ip/host/...>(rw,sec=krb5p,no_subtree_check,insecure)
      '';
  };
}
