{ config, pkgs, ... }:

{
  networking.firewall = {
      enable = true;
      allowedTCPPorts = [ 22 4000 ];
      allowedTCPPortRanges = [];
      allowedUDPPorts = [ ];
      allowPing = false;
      extraPackages = with pkgs; [ ipset ];
  };

  # networking.hosts = {
  # };

  # environment.systemPackages = with pkgs; [ krb5 heimdal ];
  # krb5 = {
  #   enable = true;
  #   realms = {
  #     "<realm>" = {
  #       admin_server = "<host>";
  #   kdc = "<host>";
  #     };
  #   };
  #   libdefaults = {
  #     default_realm = "<realm>";
  #   };
  #   extraConfig =
  #     ''
  #     [logging]
  #     kdc = FILE:/var/log/krb5kdc.log
  #     admin_server = FILE:/var/log/kadmin.log
  #     default = FILE:/var/log/krb5lib.log
  #     '';
  # };

  # services.nfs.server = {
  #   enable = true;
  #   exports =
  #     ''
  #     / 10.0.0.0/8(rw,fsid=0,sec=krb5p,no_subtree_check,insecure)
  #     /home/vonfry 10.0.0.0/8(rw,sec=krb5p,no_subtree_check,insecure)
  #     '';
  # };
}
