{ config, pkgs, ... }:

{
    services.xserver.displayManager.sddm.extraConfig =
      ''
      [General]
      type=image
      background=/etc/nixos/x/haskellwiki_logo.png
      color=black
      '';
}
