{ config, pkgs, ... }:

{
  # boot.loader
  # network

  nix.gc = {
    automatic = false;
    options = "--delete-older-than 14d";
    dates = "Sun 19:00";
  };

  boot.tmpOnTmpfs = true;

  # systemd.services.nix-daemon.environment = {
  #   http_proxy  = "prot://user:password@proxy:port";
  #   https_proxy = "prot://user:password@proxy:port";
  #   ftp_proxy   = "prot://user:password@proxy:port";
  # };

  services.openssh =  {
    enable = false;
    allowSFTP = false;
    passwordAuthentication = false;
    permitRootLogin = "prohibit-password";
    extraConfig =
      ''
      ClientAliveInterval 60
      ClientAliveCountMax 4
      '';
  };

  security = {
    sudo.extraConfig = ''
      Defaults timestamp_timeout=30
      Defaults env_keep += "*_proxy *_PROXY"
    '';
    sudo.wheelNeedsPassword = true;
    pam.enableSSHAgentAuth = true;
  };

  # networking.hostName = "nixos"; # Define your hostname.
  # networking.wireless.enable = true;  # Enables wireless support via wpa_supplicant.
  # networking.proxy.default = "http://user:password@proxy:port/";
  # networking.proxy.noProxy = "127.0.0.1,localhost,internal.domain";

  # nesting.clone = [];
}
